.current {
    color: green;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-VariableFont_wght.ttf') format('trutype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lora', serif;
}

.bg-image{
    background: url('../images/bottles_labels.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%; /*ensure div takes full width */
}

.current{
    color: green;
}

.nav-container {
    text-align: center;
}

.logo img {
    height: 50px;
    width: auto;
}